:root {
	--yellow-green-crayola: #ccd497ff;
	--dark-mint: #31906E;
	--copper-red: #d0715eff;
	--crimson-ua: #a83841ff;
	--dark-jungle-green: #171e1dff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

p {
	color: var(--dark-jungle-green);
	font-size: 2rem;
}

.section {
	padding-top: 3rem;
	text-align: center;
}

h1 {
	color: var(--crimson-ua);
}

.storefront {
	max-width: 350px;
}

ol li::marker {
	color: var(--dark-mint);
	font-weight: bold;
  }

.footer .copy {
	color: var(--copper-red);
	font-weight: bold;
}

button.button-primary {
	background-color: var(--dark-mint);
	border-color: var(--dark-mint);
}
button.button-primary:hover,
button.button-primary:active,
button.button-primary:focus {
	background-color: var(--crimson-ua);
	border-color: var(--crimson-ua);
}

.has-color-negative {
	color: var(--crimson-ua);
}
.has-color-positive {
	color: var(--dark-mint);
}